body {
    background-color: grey;
    background: radial-gradient(circle at center, #222, #000);
    color: black;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #63A0A3;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h2.total-connections {
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column {
    width: 30%;
    padding: 10px;
    border: 2px solid #63A0A3;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #63A0A3;
}

.button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: #63A0A3;
    fill: black;
    font-size: large;
    background-color: black;
    transition: background-color 0.25s ease;
}

.button:hover {
    background-color: #63A0A3;
    color: white;
}

ul {
    list-style-type: none;
}

li {
    margin: 8px 0;
    font-size: 18px;
    color: white;
    text-align: left;
}

.menu-toggle {
    display: block;
    position: relative;
    margin: 20px;
  }
  
  .menu-toggle input {
    display: none;
  }
  
  .menu-toggle label {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: relative;
  }
  
  .menu-toggle label span {
    display: block;
    cursor: pointer;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #63A0A3;
    border-radius: 3px;
    opacity: 1;
    left: 0;
  }
  
  .menu-toggle label span:nth-child(1) {
    top: 0px;
  }

  .menu-toggle label span:nth-child(2) {
    top: 8px;
  }
  
  .menu-toggle label span:nth-child(3) {
    top: 16px;
  }
  
  .menu-toggle input:checked ~ .menu {
    display: block;
  }
  
  .menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    padding: 10px;
    background-color: black;
    font-size: 18px;
  }
  
  /* Media query for mobile screens */
  @media (max-width: 768px) {
    .menu-toggle {
      margin: 10px;
    }
  }